<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="autonomous_rover">

  <!-- Base Robot-->
  <xacro:include filename="$(find autonomous_rover)/description/base_robot.xacro"/>

  <!--Sensors-->
  <xacro:include filename="$(find autonomous_rover)/description/oak_camera.xacro"/>
  <xacro:include filename="$(find autonomous_rover)/description/imu.xacro"/>
  <!-- <xacro:include filename="$(find autonomous_car)/description/lidar.xacro"/> -->
</robot>