<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_hardware">

  <!-- Base Robot-->
  <xacro:include filename="$(find rover_hardware)/description/base_robot.xacro"/>

  <!--Sensors-->
  <xacro:include filename="$(find rover_hardware)/description/oak_camera.xacro"/>
  <xacro:include filename="$(find rover_hardware)/description/imu.xacro"/>
  <!-- <xacro:include filename="$(find rover_hardware)/description/lidar.xacro"/> -->
</robot>